@import 'variables';
@import 'mixins';

.js-number-container {
  @include responsive(gap, 45px, 35px, 25px, 15px, 12px);
  margin-top: 170px;

  display: flex;
}

.js-timer-number-of-two {
  display: flex;
  gap: 20px;
}