@import 'variables';
@import 'mixins';

@import 'modal';
@import 'number';
@import 'seperator';
@import 'numberContainer';

:root {
  --bg-color: #ffffff;
  --primary-color: #171717;
  --hover-color: #3a3a3a;

  --number-bg-color: #E6E6E6;
}

body {
  background-color: white;
  margin: 0;
}

#app-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}